@tailwind base;
@tailwind components;
@tailwind utilities;

/* width*/
::-webkit-scrollbar{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track{
    background: rgb(128, 238, 19);
}

/* Handle */
::-webkit-scrollbar-thumb{
    background: #c2efb9 ;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
    background: #bcf756;
}